body{
    box-sizing: border-box;
    margin: auto;
    font-family: sans-serif;
}

ul li{
    list-style: none;
    display: inline;
    color: #1d4646;
}


.nav-right-links .highlight{
    background-color: #1d4646;
    color: rgb(205, 227, 233);
    padding: 6px 9px;
    border-radius: 20px;
}

.nav-links{
    float: left;
}
.nav-right-links{
    float: right;
    position: relative;
    right: 20px;
}

/*parallax images*/
.parallax{
    background-image: url("images/ocean.jpg");
    width: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#image2{                                            /*2nd parallax image*/
    background-image: url("images/beach.jpg");
    display: flex;
    justify-content: center;
}

#image2 h1{
    font-size: 2.5em;
    color: white;
    padding: 1.5em 0.5em;
}
#image2 .text2{
    color: transparent;
    -webkit-text-stroke: 1px white;
 
}


.heading, .caption{
    color: #1d4646;
    padding: 15px;
    margin: 0px;
    position: absolute;
    left: 5vw;
    animation: slideIn 3s forwards;         /*animation of text on image*/
}
.heading{
    top: 5em;
}
.caption{ 
    top: 10em;
}



/* Animation keyframes */
@keyframes slideIn {
    0% {
      transform: translate(-0%, -0%) translateY(-15vw);
      opacity: 0;
    }
    100% {
      transform: translate(-0%, -0%) translateY(0);
      opacity: 1;
    }
  }


/*content*/
.content{
    height: 50vh;
    color: #1d4646;
    display: block;
    text-align: center;
}
.content p{
    font-size: 14px;
    padding: 1vw 7vw;
}

.content button{
    color: #e4fcfc;
    background: linear-gradient(to bottom, #2e6464, #122e30);
    border: none;
    border-radius: 20px;
    padding: 11px 20px;
    box-shadow: 0 4px 10px 0 #2e6464;
    transition: transform 0.3s ease-in-out;
}
.content button:hover{
    transform: scale(1.1);
}


/*icons*/

#choose-us{
    height: auto;
    padding: 2em;
}
#choose-us header{
    color: #1d4646;
    font-weight: bold;
    font-size: 2em;
    padding: 20px;
    padding-top: 30px;
}
#choose-us .card{
    padding: 15px 0px;
}
#choose-us .card p{
    font-size: 16px;
    font-weight: bold;
}


/*road image*/
#road{
    background-image: url("images/road.jpg");
}


/*sliced text effect*/
:root {
    --background-color: #1d4646;
    --text-color: hsl(0, 0%, 100%);
  }
  body {
    margin: 0;
  }
  .wrapper {
    display: grid;
    place-content: center;
    background-color: var(--background-color);
    min-height: 100vh;
    font-family: "Oswald", sans-serif;
    font-size: clamp(1.5rem, 1rem + 18vw, 15rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
  }
  
  .wrapper > div {
    grid-area: 1/1/-1/-1;
  }
  .top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  .bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, #1d4646 53%, var(--text-color) 65%);
    background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }



  .get-started{
    background-color: #202d2e;
    color: white;
    border: none;
    font-size: 16px;
    position: relative;
    left: 40%;
    width: 20%;
    height: 40px;
  }






/*responsive design*/
@media (min-width: 400px){
    li{                                      /*navbar*/
        font-size: 14px;            
        padding: 0 4px;
    }
    .heading{                                /*text on image*/
        top: 5.5em;
        font-size: 1.5em;
    }
    .caption{ 
        top: 10.5em;
    }
    #image2 .text1, #image2 .text2{         /*text on beach*/
        font-size: 2.5em;
    }
    #choose-us .card{                       /*icons*/
        display: inline;
        width: 40%;
    }
}
@media (min-width: 600px){
    li{
        font-size: 15px;
        padding: 0 7px;
    }
    .heading{
        top: 5em;
        font-size: 2em;
    }
    .caption{ 
        top: 13em;
        font-size: 1em;
    }
    #image2 .text1, #image2 .text2{         /*text on beach image*/
        font-size: 3.5em;
    }
    #choose-us .card{                       /*icons*/
        display: inline-block;
        width: 45%;
    }
}
@media (min-width: 1100px){
    li{
        font-size: 17px;
        padding: 0 10px;
    }
    .heading{
        top: 5em;
        font-size: 2.5em;
    }
    .caption{ 
        top: 11em;
        font-size: 1.5em;
    }
    #image2 .text1, #image2 .text2{         /*text on beach image*/
        font-size: 4.5em;
        padding: 1.3em 0.8em;
    }
    #choose-us .card{                       /*icons*/
        display: inline-block;
        width: 24%;
    }
}